

<!--Colocamos algumas informações na Página Inicial , apos isso vamos criar uma controller-->
@{
    ViewData["Title"] = "Página Inicial";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>

<div class="text-left">
    <h1 class="display-4">Academia AtosUFN</h1>
    <h2>Projeto final do Curso de .NET 2022</h2>
    <h4> Sistema de busca de Produtos </h4>
</div>





 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
